/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 mars 2020, 11:21:03
    Author     : Khawla
*/
/*
.parent{
    -fx-background-color: #6f002a;
    
}

.sidebar{
    -fx-background-color: #fff;
}
.button
{
     -fx-background-color: #3F2B63;
}
.button:hover
{
  -fx-background-color:#2A1C42;  
}

.button:pressed
{
  -fx-background-color:#7156DD;  
}
*/




.AnchorPane{
    -fx-background-color: #fff;
}
.left{
    -fx-background-color: linear-gradient(to bottom left,#6F4CBB,#431FA0);
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
}
.img {
       

}

.sidebar-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
}
.vos_rec{
    -fx-background-radius: 0px;
    -fx-text-fill: #545454;
    -fx-background-radius: 0px;
  
}
.label{
    -fx-text-fill: #fff;
}
.labeltitre{
    -fx-text-fill: #000;
    -fx-background-radius: 0px;

}
.envoyer_btn:hover{
    -fx-background-color: #4059a9;
        -fx-text-fill: #FFF;
            -fx-background-radius:5px;


}

.envoyer_btn {
    -fx-background-radius:5;
    -fx-background-color: transparent;
        -fx-text-fill: #4059a9;
        -fx-border-color:#4059a9;
        -fx-border-width:1px;
        -fx-border-style:solid;
            -fx-border-radius:5px;
        
}
.delelte_btn {
    -fx-background-radius:5;
    -fx-background-color: transparent;
        -fx-text-fill:  #E75480;
        -fx-border-color:#4059a9;
        -fx-border-width:1px;
        -fx-border-style:solid;
            -fx-border-radius:5px;
        
}

.close_btn {
    -fx-fill:#545454;
}

.close_btn:hover  {
    -fx-fill:#ff6666;
}


.payload {
    -fx-hgap: 20px;
    -fx-padding: 40px;

    -fx-background-color: #4059a9;
    -fx-background-radius: 50px;

    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);

}

.envoyer_btn_unhover {
    -fx-background-radius:5;
    -fx-background-color: #7156DD;
        -fx-text-fill: #fff;
        -fx-border-color:#fff;
        -fx-border-width:1px;
        -fx-border-style:solid;
            -fx-border-radius:5px;
        
}
.envoyer_btn_unhover_supprimer {
    -fx-background-radius:5;
    -fx-background-color: #E75480;
        -fx-text-fill: #fff;
        -fx-border-color:#fff;
        -fx-border-width:1px;
        -fx-border-style:solid;
        -fx-border-radius:5px;
        
}


.consulter_rec_btn {
    -fx-background-radius:5;
    -fx-background-color: transparent;
        -fx-text-fill: #4059a9;
        -fx-border-color:#4059a9;
        -fx-border-width:1px;
        -fx-border-style:solid;
            -fx-border-radius:5px;
        
}
.btnDescr{
    -fx-background-radius:5;
    -fx-background-color: transparent;
        -fx-text-fill: #4059a9;
        -fx-border-color:#4059a9;
        -fx-border-width:1px;
        -fx-border-style:solid;
            -fx-border-radius:5px;
    
}


.map{
    -fx-background-color: #666970;
}
.map-toolbar .button, .map-toolbar .toggle-button, .map-toolbar .label {
    -fx-text-fill: white;
    -fx-background-radius: 0;
}
.map-toolbar{
    -fx-base: #505359;
    -fx-background: #505359;
    -fx-shadow-highlight-color: transparent;
    -fx-spacing: 5;
    -fx-padding: 4 4 4 4;
    -fx-background-color: linear (0%,0%) to (0%,100%) stops
                (0%,#919398)
                (4.1%,#666970)
                (66%,#494d53)
                (94%,#3c3f46)
                (94.1%,#515151);
}




